*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 2rem;
  background-color: rgb(32, 32, 32);
  color: white;
}

.title{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}


.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.card-body{
  border: 1px solid white;
  padding: 1rem ;

}

.card-body h1{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}